.dashboard-container {
  display: flex;
  height: 100vh;
  font-family: Arial;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #111827;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar button {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  background: #2563eb;
  border: none;
  color: white;
  cursor: pointer;
}

/* MAIN */
.main {
  flex: 1;
  background: #f3f4f6;
  padding: 20px;
}

/* NAVBAR */
.navbar {
  background: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
}

/* CARDS */
.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* FORM */
.card input, .card select {
  margin: 5px;
  padding: 8px;
}

.card button {
  padding: 10px 15px;
  background: #2563eb;
  border: none;
  color: white;
  cursor: pointer;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}
